
.large-hero {
    position:relative;

    .large-hero__copy {
        position:absolute;
        top:0px;
        right: 0px;
        bottom:0px;
        left:0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        .title {
            font-weight: normal;
        }

        .subtitle {

        }

    }
}